// General information box
.its123-api-info-box {
  color: $state-info-text;
  background-color: $state-info-bg;
  border: 1px solid $state-info-border;
  border-radius: $border-radius;
  padding: $alert-padding;
}
.its123-loading-indicator {
  @extend .its123-api-info-box;
}
