// Base class for all item types
//

legend.its123-legend {
  color: $color-primary;
  font-weight: bold;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}


fieldset.its123-item {
  font-size: $font-size-item;
  color: $text-color-item;
  line-height: $font-line-height-item;
  padding: $item-padding;

  select, input[type="text"] {
    padding: .5rem .75rem;
    height: 36px;

    display: block;
    padding: .5rem .75rem;
    font-size: $font-size-item;
    line-height: 1.25;
    background-color: $item-bg-color;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: $item-border;
    border-radius: .25rem;
  }
}

.its123-option-select {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: $item-bg-color;
  border: $item-border;

  @include media-breakpoint-up(md) {
   width: 270px;
  }
}

// Single select radio buttons, vertical
.its123-item-single-select {
  @extend .its123-alternate-background;

  .its123-option {
    margin-bottom: 10px;
  }
}

// single select dropdown vertical
.its123-item-dropdown-vertical {
  @extend .its123-alternate-background;

  .its123-label {
    display: block;
    margin-bottom: 15px;
  }
}

// single select dropdown horizontal
.its123-item-dropdown-horizontal {

  @include media-breakpoint-up(md) {
    .its123-label {
      float: left;
      text-align: right;
      width: 160px;
      padding-top: 5px;
    }

    .its123-options {
      margin-left: 180px;
    }
  }
}
