// Base file
//
// Defines defaults for all variables
//

// General colors
$color-primary:     #DB7B03 !default;
$color-secondary:   #0182A9 !default;
$text-color:        #777777 !default;
$link-color:        $color-secondary !default;
$link-hover-color:  $link-color !default;
$text-muted:        lighten($text-color, 15%) !default;
$item-bg-color:     #ffffff !default;
$item-border-color: #ccc !default;

// general block level settings
$border-radius: 3px !default;
$item-padding: 20px 20px 20px 20px !default;
$item-border: 1px solid $item-border-color !default;
$fieldset-border: 0 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Font settings
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-item: 14px !default;
$font-line-height-item: 20px !default;
$text-color-item: $text-color !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;

// General info messages/alerts
$state-info-text:    #3a87ad !default;
$state-info-bg:      #d9edf7 !default;
$state-info-border:  #bce8f1 !default;

$alert-padding: 5px !default;

// Tables
$table-bg:  #fff !default;
$table-cell-padding: 5px !default;
